using WeightedMean

in vel
        NH: -inf, -30, -25, -15
        NM: -20, -15, -10, -5
        NL: -7.5, -4, -1, 0
        symmetric

out force
        NH: -2, -2, -2, -2
        NM: -0.5, -0.5, -0.5, -0.5
        NL: -0.1, -0.1, -0.1, -0.1
        symmetric
